.FirstSection{
    background-color: rgb(27, 54, 177);
}

.thirdSection{
    display: flex;
    font-display: row;

}

.sixSection{
    display: flex;
    font-display: row;

}

.sevenSection {
    display: flex;
    font-display: row;

}

.fiveSection {
    display: flex;
    font-display: row;
}

.eightSection {
    display: flex;
    font-display: row;
}


