.Section{
    background-color: rgb(137, 149, 214);
    display: flex;
    font-display: row;
     
}

.twoSection {
    color:black;
}

.thirdSection{
    display: flex;
    font-display: row;
   
}

.sevenSection {
    display: flex;
    font-display: row;

}

.elevenSection{
    display:flex;
    font-display: row;
}

.twelveSection{
    display:flex;
    font-display: row;
}

.thriteenSection{
    display:flex;
    font-display: row;   
}

.fourteenSection{
    display:flex;
    font-display: row;  
}

.sixteenSection{
    display:flex;
    font-display: row;  
}

.twentySection{
    display:flex;
    font-display: row;
}

